<h1>Edycja wersji PDF</h1>

<% form_for(@eversion, :url => admin_magazine_eversion_path, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <p>
            <%= f.hidden_field :magazine_id %>
    Nazwa pliku: <%= @magazine.eversion.pdf_file_name %><br />
    Rozmiar pliku: <%= number_to_human_size(@magazine.eversion.pdf_file_size, :precision => 3) %><br />
    Utworzony : <%= @magazine.eversion.created_at %><br />
    Zaktualizowany: <%= @magazine.eversion.updated_at %><br />
  </p>
  <%= f.file_field :eversion %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%# link_to 'Show', @eversion %> 
<%# link_to 'Back', eversions_path %>