<h1>Editing archiwe</h1>

<% form_for(@archiwe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :magazine_id %><br />
    <%= f.text_field :magazine_id %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @archiwe %> |
<%= link_to 'Back', archiwes_path %>