<div id="pagewidth" >
  <%=  ENV['RAILS_ENV'] %>
<div id="header">
<%= render :partial => '/share/header' %>
<%= render :partial => '/share/search' %>
</div>
<div id="menu_top" >
   <%= menu_k %>
</div>
<div id="wrapper" class="clearfix" > 
		<div id="twocols" class="clearfix"> 
			<div id="maincol" > 
<%= render :partial => 'topone' %>
<%= render :partial => 'nota' %>
     </div>
<%= render :partial => 'kalendarium'%>
    <div style="clear: both;"></div>
<%= render :partial => 'soon' %>
              <%= render :partial => 'iadres' %>
    <img src="/images/pk/kontakt_250px.png" vspace="0" alt="" />
<div id="tresc">
<%= render :partial => 'kontakt'%>
</div>
</div>
</div> 
<div id="wrapper" class="clearfix" >
    <div id="leftcol" ></div>
</div>
</div>
<%= render :partial => '/share/footer' %>




















