<p>
  <b>Name:</b>
  <%=h @zgloszenia.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @zgloszenia.description %>
</p>

<p>
  <b>Ticket:</b>
  <%=h @zgloszenia.ticket %>
</p>

<p>
  <b>Ticket price:</b>
  <%=h @zgloszenia.ticket_price %>
</p>

<p>
  <b>Adres:</b>
  <%=h @zgloszenia.adres %>
</p>

<p>
  <b>Street:</b>
  <%=h @zgloszenia.street %>
</p>

<p>
  <b>Place:</b>
  <%=h @zgloszenia.place %>
</p>

<p>
  <b>Postcode:</b>
  <%=h @zgloszenia.postcode %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @zgloszenia.telephone %>
</p>

<p>
  <b>Web:</b>
  <%=h @zgloszenia.web %>
</p>

<p>
  <b>Person name:</b>
  <%=h @zgloszenia.person_name %>
</p>

<p>
  <b>Person surname:</b>
  <%=h @zgloszenia.person_surname %>
</p>

<p>
  <b>Email:</b>
  <%=h @zgloszenia.email %>
</p>


<%= link_to 'Edit', edit_zgloszenia_path(@zgloszenia) %> |
<%= link_to 'Back', zgloszenias_path %>