<h1>Lista kategorii</h1>

<table id="tabela">
  <tr style="background-color:white;">
    <th>lp</th>
    <th>Title</th>
    <th>Color</th>
    <th>Pokaż</th>
    <th>Edytuj</th>
    <th>Usuń</th>
    <th>&nbsp;&nbsp;&nbsp;Kolor&nbsp;&nbsp;</th>
  </tr>
<% i = 1 %>
<% @categories.each do |category| %>
  <tr>
    <td><%= i %><% i+=1 %></td>
    <td><%=h category.title %></td>
    <td><%=h category.color %></td>
    <td><%= link_to t('nav.Show'), [:admin, category] %></td>
    <% col = ['Galerie', 'Muzyka', 'Teatr', 'Film', 'Książki', 'Muzea', 'Rozmaitości'] %>

<td><%= link_to t('nav.Edit'), edit_admin_category_path(category) unless col.include?(category.title) %></td>
<td><%= link_to(t('nav.Destroy'), [:admin, category], :confirm => 'Are you sure?', :method => :delete) unless col.include?(category.title) %></td>

    <td style="background-color:<%= category.color%>">  </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj kategorię', new_admin_category_path %>
