<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl" >
<head>
<title>Pełna Kultura</title>
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<meta name="author" content="www.wietor.pl" />

  <%= stylesheet_link_tag 'pk'%>
  <%= javascript_include_tag 'pk/pk'%>
  <%= stylesheet_link_tag 'calendarium'%>
  <%= stylesheet_link_tag 'muzea'%>

</head>
<body>
<%= yield %>
</body>
</html>